# Спојување и мешање на податоци

Во овој дел ќе се покажат основни постапки за мешање на податоци од различни табели и спојување на табели

In [1]:
import pandas as pd

Lichni = pd.read_excel('Ispit.xlsx', sheet_name = 0)
Ispit = pd.read_excel('Ispit.xlsx', sheet_name = 1)
Lichni.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Indeks   26 non-null     float64
 1   Ime      28 non-null     object
 2   Prezime  29 non-null     object
 3   Email    23 non-null     object
dtypes: float64(1), object(3)
memory usage: 1.1+ KB

In [2]:
Ispit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Indeks   25 non-null     float64
 1   Teorija  25 non-null     float64
 2   Zadachi  28 non-null     float64
 3   Dvata    23 non-null     float64
 4   Ocena    17 non-null     float64
dtypes: float64(5)
memory usage: 1.3 KB

In [3]:
Lichni.dropna(subset = ['Indeks'], inplace = True)
Ispit.dropna(subset = ['Indeks'], inplace = True)
Lichni.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 0 to 28
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Indeks   26 non-null     float64
 1   Ime      24 non-null     object
 2   Prezime  25 non-null     object
 3   Email    19 non-null     object
dtypes: float64(1), object(3)
memory usage: 1.0+ KB

In [4]:
VnatreshnoSpoeni = pd.merge(Lichni, Ispit)
VnatreshnoSpoeni.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Indeks   21 non-null     float64
 1   Ime      19 non-null     object
 2   Prezime  20 non-null     object
 3   Email    14 non-null     object
 4   Teorija  19 non-null     float64
 5   Zadachi  19 non-null     float64
 6   Dvata    17 non-null     float64
 7   Ocena    12 non-null     float64
dtypes: float64(5), object(3)
memory usage: 1.5+ KB

In [5]:
LevoSpoeni = pd.merge(Lichni, Ispit, how='left')
LevoSpoeni.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 0 to 25
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Indeks   26 non-null     float64
 1   Ime      24 non-null     object
 2   Prezime  25 non-null     object
 3   Email    19 non-null     object
 4   Teorija  19 non-null     float64
 5   Zadachi  19 non-null     float64
 6   Dvata    17 non-null     float64
 7   Ocena    12 non-null     float64
dtypes: float64(5), object(3)
memory usage: 1.8+ KB

In [6]:
# Ова е пример за спојување со функцијата join, која што не е покажана во предавањата
SoJoin = Lichni.join(Ispit, lsuffix="_left", rsuffix="_right")
SoJoin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 0 to 28
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Indeks_left   26 non-null     float64
 1   Ime           24 non-null     object
 2   Prezime       25 non-null     object
 3   Email         19 non-null     object
 4   Indeks_right  21 non-null     float64
 5   Teorija       19 non-null     float64
 6   Zadachi       19 non-null     float64
 7   Dvata         17 non-null     float64
 8   Ocena         12 non-null     float64
dtypes: float64(6), object(3)
memory usage: 3.3+ KB

In [8]:
SoJoin.head(10)

,Indeks_left,Ime,Prezime,Email,Indeks_right,Teorija,Zadachi,Dvata,Ocena
0,202101.0,Phil,McLean,phil.mclean@univerzitet.edu,202101.0,9.0,6.0,15.0,8.0
1,202102.0,Katherine,Hudson,katherine.hudson@univerzitet.edu,202102.0,8.0,NaN,NaN,NaN
2,202103.0,Sonia,Dyer,NaN,202103.0,1.0,2.0,3.0,NaN
4,202105.0,Justin,Turner,justin.turner@univerzitet.edu,NaN,NaN,NaN,NaN,NaN
5,202106.0,Natalie,Ince,natalie.ince@univerzitet.edu,202106.0,9.0,7.0,16.0,9.0
6,202107.0,NaN,Kerr,victor.kerr@univerzitet.edu,202107.0,2.0,8.0,10.0,6.0
7,202108.0,Dominic,Buckland,NaN,202108.0,10.0,10.0,20.0,11.0
8,202109.0,Mary,Terry,mary.terry@univerzitet.edu,202109.0,8.0,9.0,17.0,9.0
9,202110.0,Cameron,Rutherford,cameron.rutherford@univerzitet.edu,202110.0,NaN,5.0,NaN,NaN
10,202111.0,Michelle,Kelly,NaN,202111.0,4.0,7.0,11.0,6.0

In [10]:
ZalepeniDo = pd.concat([Lichni, Ispit], axis=1)
print(len(Lichni), len(Ispit), len(ZalepeniDo))
ZalepeniDo.info()

26 25 30
<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Indeks   26 non-null     float64
 1   Ime      24 non-null     object
 2   Prezime  25 non-null     object
 3   Email    19 non-null     object
 4   Indeks   25 non-null     float64
 5   Teorija  21 non-null     float64
 6   Zadachi  23 non-null     float64
 7   Dvata    19 non-null     float64
 8   Ocena    13 non-null     float64
dtypes: float64(6), object(3)
memory usage: 2.3+ KB

In [11]:
ZalepeniDo.head(10)

,Indeks,Ime,Prezime,Email,Indeks,Teorija,Zadachi,Dvata,Ocena
0,202101.0,Phil,McLean,phil.mclean@univerzitet.edu,202101.0,9.0,6.0,15.0,8.0
1,202102.0,Katherine,Hudson,katherine.hudson@univerzitet.edu,202102.0,8.0,NaN,NaN,NaN
2,202103.0,Sonia,Dyer,NaN,202103.0,1.0,2.0,3.0,NaN
3,NaN,NaN,NaN,NaN,202104.0,NaN,4.0,NaN,NaN
4,202105.0,Justin,Turner,justin.turner@univerzitet.edu,NaN,NaN,NaN,NaN,NaN
5,202106.0,Natalie,Ince,natalie.ince@univerzitet.edu,202106.0,9.0,7.0,16.0,9.0
6,202107.0,NaN,Kerr,victor.kerr@univerzitet.edu,202107.0,2.0,8.0,10.0,6.0
7,202108.0,Dominic,Buckland,NaN,202108.0,10.0,10.0,20.0,11.0
8,202109.0,Mary,Terry,mary.terry@univerzitet.edu,202109.0,8.0,9.0,17.0,9.0
9,202110.0,Cameron,Rutherford,cameron.rutherford@univerzitet.edu,202110.0,NaN,5.0,NaN,NaN