# Работа со пивот табели и постапка подели-примени-комбинирај

За работа со пивот табели ќе се користи множеството со основни статистички податоци за фудбалерите од англиската Премиер лига, за натпреварувачката година 2020-2021

In [1]:
import pandas as pd
podatoci = pd.read_csv('EPL_20_21.csv')
podatoci.head()

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards
0,Mason Mount,Chelsea,ENG,"MF,FW",21,36,32,2890,6,5,1881,82.3,1,1,0.21,0.24,2,0
1,Edouard Mendy,Chelsea,SEN,GK,28,31,31,2745,0,0,1007,84.6,0,0,0.00,0.00,2,0
2,Timo Werner,Chelsea,GER,FW,24,35,29,2602,6,8,826,77.2,0,0,0.41,0.21,2,0
3,Ben Chilwell,Chelsea,ENG,DF,23,27,27,2286,3,5,1806,78.6,0,0,0.10,0.11,3,0
4,Reece James,Chelsea,ENG,DF,20,32,25,2373,1,2,1987,85.0,0,0,0.06,0.12,3,0

In [2]:
PivotTabela = pd.pivot_table(data = podatoci, index = ['Club'])
PivotTabela.head()

,Age,Assists,Goals,Matches,Mins,Passes_Attempted,Penalty_Attempted,Penalty_Goals,Perc_Passes_Completed,Red_Cards,Starts,Yellow_Cards,xA,xG
Club,,,,,,,,,,,,,,
Arsenal,24.965517,1.310345,1.827586,18.344828,1291.482759,734.172414,0.206897,0.206897,81.262069,0.172414,14.413793,1.689655,0.083448,0.126207
Aston Villa,24.291667,1.583333,2.166667,21.208333,1563.833333,689.833333,0.250000,0.208333,76.795833,0.166667,17.416667,2.958333,0.085000,0.136667
Brighton,24.555556,0.888889,1.444444,19.481481,1391.703704,720.592593,0.333333,0.222222,71.988889,0.222222,15.481481,1.814815,0.087407,0.125556
Burnley,27.040000,0.800000,1.280000,19.960000,1504.800000,601.720000,0.120000,0.120000,67.456000,0.000000,16.720000,1.920000,0.045200,0.086800
Chelsea,25.592593,1.407407,2.074074,19.481481,1389.259259,931.518519,0.370370,0.296296,84.033333,0.111111,15.481481,1.888889,0.085926,0.137037

In [3]:
PivotTabela = pd.pivot_table(data = podatoci, index = ['Club'],
            values = ['Goals', 'Perc_Passes_Completed'])
PivotTabela.head()

                Goals  Perc_Passes_Completed
Club
Arsenal      1.827586              81.262069
Aston Villa  2.166667              76.795833
Brighton     1.444444              71.988889
Burnley      1.280000              67.456000
Chelsea      2.074074              84.033333

In [4]:
import numpy as np
PivotTabela = pd.pivot_table(data = podatoci, index = ['Club'],
            values = ['Goals','Age'], aggfunc={'Goals':np.max, 'Age':np.mean})
PivotTabela.head()

                   Age  Goals
Club
Arsenal      24.965517     13
Aston Villa  24.291667     14
Brighton     24.555556      8
Burnley      27.040000     12
Chelsea      25.592593      7

In [5]:
PivotTabela = pd.pivot_table(data = podatoci, index = ['Club', 'Nationality'],
            values = ['Age'], aggfunc='count')
PivotTabela.rename(columns = {'Age':'No. of players'}, inplace = True)
PivotTabela.head()

                     No. of players
Club    Nationality
Arsenal AUS                       1
        BIH                       1
        BRA                       4
        CIV                       1
        EGY                       1

In [6]:
PivotTabela = pd.pivot_table(data = podatoci, index = ['Club'],columns=['Nationality'],
            values = ['Age'], aggfunc='count')
PivotTabela.head()

            Age                                             ...               \
Nationality ALG  ARG  AUS AUT  BEL  BFA  BIH  BRA CAN  CIV  ... SRB  SUI SVK
Club                                                        ...
Arsenal     NaN  NaN  1.0 NaN  NaN  NaN  1.0  4.0 NaN  1.0  ... NaN  1.0 NaN
Aston Villa NaN  1.0  NaN NaN  NaN  1.0  NaN  2.0 NaN  NaN  ... NaN  NaN NaN
Brighton    NaN  1.0  1.0 NaN  1.0  NaN  NaN  1.0 NaN  NaN  ... NaN  1.0 NaN
Burnley     NaN  NaN  NaN NaN  NaN  NaN  NaN  NaN NaN  NaN  ... NaN  NaN NaN
Chelsea     NaN  1.0  NaN NaN  NaN  NaN  NaN  1.0 NaN  NaN  ... NaN  NaN NaN


Nationality  SWE TUR UKR URU  USA  WAL  ZIM
Club
Arsenal      NaN NaN NaN NaN  NaN  NaN  NaN
Aston Villa  NaN NaN NaN NaN  NaN  1.0  1.0
Brighton     NaN NaN NaN NaN  NaN  NaN  NaN
Burnley      1.0 NaN NaN NaN  NaN  NaN  NaN
Chelsea      NaN NaN NaN NaN  1.0  NaN  NaN

[5 rows x 59 columns]

# Користење на постапката подели-примени-комбинирај

Со употреба на истото множество за фудбалерите од Премиер Лигата ќе се истражат некои основни примени на постапката подели-примени-комбинирај.

In [7]:
import pandas as pd
podatoci = pd.read_csv('EPL_20_21.csv')
podatoci.head()

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards
0,Mason Mount,Chelsea,ENG,"MF,FW",21,36,32,2890,6,5,1881,82.3,1,1,0.21,0.24,2,0
1,Edouard Mendy,Chelsea,SEN,GK,28,31,31,2745,0,0,1007,84.6,0,0,0.00,0.00,2,0
2,Timo Werner,Chelsea,GER,FW,24,35,29,2602,6,8,826,77.2,0,0,0.41,0.21,2,0
3,Ben Chilwell,Chelsea,ENG,DF,23,27,27,2286,3,5,1806,78.6,0,0,0.10,0.11,3,0
4,Reece James,Chelsea,ENG,DF,20,32,25,2373,1,2,1987,85.0,0,0,0.06,0.12,3,0

In [8]:
Grupirani = podatoci.groupby('Club')
Grupirani.groups

{'Arsenal': Int64Index([183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
             196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
             209, 210, 211],
            dtype='int64'),
 'Aston Villa': Int64Index([264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276,
             277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287],
            dtype='int64'),
 'Brighton': Int64Index([395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407,
             408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420,
             421],
            dtype='int64'),
 'Burnley': Int64Index([422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434,
             435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446],
            dtype='int64'),
 'Chelsea': Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
             17, 18, 19, 20, 21, 22, 23, 24, 25, 26],
            dtype='int64'),
 'Crystal Palace': Int64Index([342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354,
             355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365],
            dtype='int64'),
 'Everton': Int64Index([235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
             248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
             261, 262, 263],
            dtype='int64'),
 'Fulham': Int64Index([447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459,
             460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472,
             473, 474],
            dtype='int64'),
 'Leeds United': Int64Index([212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224,
             225, 226, 227, 228, 229, 230, 231, 232, 233, 234],
            dtype='int64'),
 'Leicester City': Int64Index([108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120,
             121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133,
             134],
            dtype='int64'),
 'Liverpool FC': Int64Index([ 80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,
              93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104, 105,
             106, 107],
            dtype='int64'),
 'Manchester City': Int64Index([27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
             44, 45, 46, 47, 48, 49, 50],
            dtype='int64'),
 'Manchester United': Int64Index([51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
             68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
            dtype='int64'),
 'Newcastle United': Int64Index([288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300,
             301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313,
             314],
            dtype='int64'),
 'Sheffield United': Int64Index([505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517,
             518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530,
             531],
            dtype='int64'),
 'Southampton': Int64Index([366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378,
             379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391,
             392, 393, 394],
            dtype='int64'),
 'Tottenham Hotspur': Int64Index([159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171,
             172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182],
            dtype='int64'),
 'West Bromwich Albion': Int64Index([475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487,
             488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500,
             501, 502, 503, 504],
            dtype='int64'),
 'West Ham United': Int64Index([135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147,
             148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158],
            dtype='int64'),
 'Wolverhampton Wanderers': Int64Index([315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327,
             328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340,
             341],
            dtype='int64')}

In [9]:
Grupirani.get_group('Arsenal')

,Name,Club,Nationality,Position,Age,Matches,Starts,Mins,Goals,Assists,Passes_Attempted,Perc_Passes_Completed,Penalty_Goals,Penalty_Attempted,xG,xA,Yellow_Cards,Red_Cards
183,Bernd Leno,Arsenal,GER,GK,28,35,35,3131,0,0,1156,79.8,0,0,0.00,0.00,0,1
184,Bukayo Saka,Arsenal,ENG,"FW,DF",18,32,30,2553,5,3,1155,74.9,0,0,0.24,0.17,1,0
185,Granit Xhaka,Arsenal,SUI,"MF,DF",27,31,29,2522,1,2,2164,89.9,0,0,0.03,0.06,7,1
186,Rob Holding,Arsenal,ENG,DF,24,30,28,2558,0,1,1768,89.3,0,0,0.04,0.01,2,0
187,Pierre-Emerick Aubameyang,Arsenal,GAB,FW,31,29,26,2332,10,3,691,75.0,2,2,0.41,0.11,2,0
188,Kieran Tierney,Arsenal,SCO,DF,23,27,26,2299,1,3,1490,76.2,0,0,0.02,0.16,4,0
189,Héctor Bellerín,Arsenal,ESP,DF,25,25,24,2089,1,2,1302,82.9,0,0,0.04,0.10,8,0
190,Gabriel Dos Santos,Arsenal,BRA,DF,22,23,22,1996,2,0,1492,86.0,0,0,0.05,0.00,4,1
191,Alexandre Lacazette,Arsenal,FRA,FW,29,31,22,1923,13,2,524,78.2,3,3,0.46,0.13,3,0
192,Thomas Partey,Arsenal,GHA,MF,27,24,18,1534,0,2,1112,86.9,0,0,0.08,0.06,5,0
193,Emile Smith-Rowe,Arsenal,ENG,"MF,FW",20,20,18,1440,2,4,724,87.7,0,0,0.13,0.18,0,0
194,Dani Ceballos,Arsenal,ESP,MF,23,25,17,1615,0,3,1286,86.5,0,0,0.04,0.16,4,0
195,Mohamed Elneny,Arsenal,EGY,MF,28,23,17,1544,1,0,1003,93.4,0,0,0.03,0.01,3,0
196,David Luiz,Arsenal,BRA,DF,33,20,17,1396,1,0,965,83.6,0,0,0.06,0.03,1,1
197,Nicolas Pépé,Arsenal,CIV,FW,25,29,16,1616,10,1,674,75.7,1,1,0.39,0.05,1,1
198,Willian,Arsenal,BRA,"FW,MF",31,25,16,1406,1,5,787,79.3,0,0,0.13,0.16,0,0
199,Pablo Marí,Arsenal,ESP,DF,26,10,10,900,0,0,592,90.7,0,0,0.00,0.00,2,0
200,Martin Ødegaard,Arsenal,NOR,MF,21,14,9,866,1,2,521,86.4,0,0,0.11,0.22,0,0
201,Calum Chambers,Arsenal,ENG,DF,25,10,8,753,0,2,575,80.3,0,0,0.07,0.14,0,0
202,Cédric Soares,Arsenal,POR,DF,28,10,8,746,0,1,463,75.8,0,0,0.03,0.11,1,0
203,Martinelli,Arsenal,BRA,FW,19,14,7,589,2,1,159,79.2,0,0,0.53,0.32,0,0
204,Ainsley Maitland-Niles,Arsenal,ENG,DF,22,11,5,490,0,0,288,78.5,0,0,0.02,0.04,0,0
205,Eddie Nketiah,Arsenal,ENG,FW,21,17,4,423,2,1,89,82.0,0,0,0.52,0.18,0,0
206,Mathew Ryan,Arsenal,AUS,GK,28,3,3,270,0,0,67,92.5,0,0,0.00,0.00,0,0
207,Joe Willock,Arsenal,ENG,MF,20,7,2,238,0,0,91,75.8,0,0,0.17,0.02,1,0
208,Sead Kolašinac,Arsenal,BIH,DF,27,1,1,90,0,0,64,84.4,0,0,0.00,0.00,0,0
209,Reiss Nelson,Arsenal,ENG,FW,20,2,0,71,0,0,30,56.7,0,0,0.06,0.00,0,0
210,Shkodran Mustafi,Arsenal,GER,DF,28,3,0,47,0,0,48,85.4,0,0,0.00,0.00,0,0
211,Rúnar Alex Rúnarsson,Arsenal,ISL,GK,25,1,0,16,0,0,11,63.6,0,0,0.00,0.00,0,0

In [10]:
Grupirani.Age.agg(['min', 'max', 'mean'])

                         min  max       mean
Club
Arsenal                   18   33  24.965517
Aston Villa               16   32  24.291667
Brighton                  19   32  24.555556
Burnley                   17   35  27.040000
Chelsea                   19   38  25.592593
Crystal Palace            20   34  28.333333
Everton                   19   31  25.413793
Fulham                    17   32  25.035714
Leeds United              19   35  25.347826
Leicester City            18   36  25.592593
Liverpool FC              19   34  25.571429
Manchester City           17   35  25.708333
Manchester United         16   33  23.862069
Newcastle United          17   31  26.074074
Sheffield United          16   37  24.814815
Southampton               18   33  24.137931
Tottenham Hotspur         16   33  25.625000
West Bromwich Albion      20   36  26.766667
West Ham United           20   35  27.500000
Wolverhampton Wanderers   18   33  24.444444

In [11]:
def BroiVozrasni(x):
    Brojach = 0
    for i in x:
        if i >= 30:
            Brojach += 1
    return Brojach        
Grupirani.Age.agg(BroiVozrasni)

Club
Arsenal                    3
Aston Villa                2
Brighton                   1
Burnley                    9
Chelsea                    4
Crystal Palace             9
Everton                    5
Fulham                     3
Leeds United               4
Leicester City             7
Liverpool FC               3
Manchester City            4
Manchester United          4
Newcastle United           5
Sheffield United           5
Southampton                5
Tottenham Hotspur          4
West Bromwich Albion       9
West Ham United            9
Wolverhampton Wanderers    5
Name: Age, dtype: int64

In [12]:
DvoenIndeks = podatoci.groupby(['Club', 'Nationality'])
DvoenIndeks.first()

                                                   Name Position  Age  \
Club                    Nationality
Arsenal                 AUS                 Mathew Ryan       GK   28
                        BIH              Sead Kolašinac       DF   27
                        BRA          Gabriel Dos Santos       DF   22
                        CIV                Nicolas Pépé       FW   25
                        EGY              Mohamed Elneny       MF   28
...                                                 ...      ...  ...
Wolverhampton Wanderers MAR                Romain Saïss       DF   30
                        MEX                Raúl Jiménez       FW   29
                        NED              Ki-Jana Hoever       DF   18
                        POR                Rui Patrício       GK   32
                        USA               Owen Otasowie    MF,FW   19

                                     Matches  Starts  Mins  Goals  Assists  \
Club                    Nationality
Arsenal                 AUS                3       3   270      0        0
                        BIH                1       1    90      0        0
                        BRA               23      22  1996      2        0
                        CIV               29      16  1616     10        1
                        EGY               23      17  1544      1        0
...                                      ...     ...   ...    ...      ...
Wolverhampton Wanderers MAR               27      27  2407      3        0
                        MEX               10      10   823      4        0
                        NED               12       5   577      0        0
                        POR               37      37  3329      0        0
                        USA                6       2   187      0        1

                                     Passes_Attempted  Perc_Passes_Completed  \
Club                    Nationality
Arsenal                 AUS                        67                   92.5
                        BIH                        64                   84.4
                        BRA                      1492                   86.0
                        CIV                       674                   75.7
                        EGY                      1003                   93.4
...                                               ...                    ...
Wolverhampton Wanderers MAR                      1411                   82.0
                        MEX                       263                   78.7
                        NED                       350                   74.3
                        POR                       801                   66.7
                        USA                        64                   70.3

                                     Penalty_Goals  Penalty_Attempted    xG  \
Club                    Nationality
Arsenal                 AUS                      0                  0  0.00
                        BIH                      0                  0  0.00
                        BRA                      0                  0  0.05
                        CIV                      1                  1  0.39
                        EGY                      0                  0  0.03
...                                            ...                ...   ...
Wolverhampton Wanderers MAR                      0                  0  0.13
                        MEX                      0                  0  0.26
                        NED                      0                  0  0.01
                        POR                      0                  0  0.00
                        USA                      0                  0  0.27

                                       xA  Yellow_Cards  Red_Cards
Club                    Nationality
Arsenal                 AUS          0.00             0          0
                        BIH          0.00             0          0
                        BRA          0.00             4          1
                        CIV          0.05             1          1
                        EGY          0.01             3          0
...                                   ...           ...        ...
Wolverhampton Wanderers MAR          0.01             2          0
                        MEX          0.08             0          0
                        NED          0.03             1          0
                        POR          0.00             1          0
                        USA          0.07             1          0

[265 rows x 16 columns]